<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/general.css">
        <link rel="stylesheet" href="/css/responsive.css">
    
    <!-- <link rel="stylesheet" href="/css/dashboard.css"> -->
    <title>Profile</title>
    <link rel="shortcut icon" href="/images/Utherian Logo in white.png" type="image/x-icon">
</head>
<body >

   <!-- Header section start -->
    <header>
        <!-- header section top status start  -->
        <ul class="header-setion-top-status">
        
            <li><a href="#" title="online-payment"><img src="../images/download-30.png" alt="" class="social-contact" height="20px" width="20px"></a></li>
            <li><a href="https://wa.me/message/T74S7GVHOPKDJ1" title="whatsapp"><img src="../images/download-21.webp" alt="" class="social-contact" height="20px" width="20px"></a></li>
            <li><a href="+260 97 0468632" title="call-us"><img src="../images/download-7.png" alt="" class="social-contact"  height="20px" width="20px"></a></li>
            <li><a href="https://wa.me/message/T74S7GVHOPKDJ1" title="our-instagram-page"><img src="../images/download-25.webp" alt="" class="social-contact" height="20px" width="20px"></a></li>
            <!-- <li class="tabs tab-4">Shop</li> -->
            <li><a href="utherianlimited@gmail.com" title="email-us"><img src="../images/download-18.png" alt="" class="social-contact"  height="20px" width="20px"></a></li>
            <li><a href="https://wa.me/message/T74S7GVHOPKDJ1" title="our-facebook-page"><img src="../images/download-18.webp" alt="" class="social-contact" height="20px" width="20px"></a></li>

        </ul>
        <!-- header section top status end  -->

            <!-- header section top header start  -->
            <ul class="header-section-top-header">
                
                <li>
                    <nav>
                        <h4 class="company-name">Welcome to utherian</h4>
                    </nav>
                </li>

           
            </ul>
             <!-- header section top header end  -->

            <!-- header section first page start -->
                <div class="header-section-first-page"> 
                   
                    <section class="full-page-container">
                        <div class="full-page-container-sidebar">
                            <section class="full-page-container-sidebar-header">
                            <img src="../images/Utherian technologies logo.png" alt="" class="logo">

                             <h3 class="main-company-name">Utherian technologies</h3>

                             <p class="oniine-portal">ONLINE PORTAL</p>
                              <form action="" method="get">
                                <input type="search" name="" id="" placeholder="..search">
                              </form>
                            </section>

                            <section class="sidebar-main-tabs-container">

                             
                                
                                <ul>
                                    <li class="sidebar-nav-li"><a href="/dashboard" class="sidebar-nav-tab"><img src="../images/22.png" alt="" class="social-contact-profile"> <p class="sidebar-nav-p">Dashbord</p></a></li>
                                    <li class="sidebar-nav-li"><a href="/profile" class="sidebar-nav-tab"><img src="../images/download-22.png" alt="" class="social-contact-profile"> <p class="sidebar-nav-p">Profile</p></a></li>
                                    <li class="sidebar-nav-li"><a href="/booking" class="sidebar-nav-tab"><img src="../images/calendar_2693507d.png" alt="" class="social-contact-profile"> <p class="sidebar-nav-p">Booking</p></a></li>
                                    <li class="sidebar-nav-li"><a href="/payment" class="sidebar-nav-tab"><img src="../images/download-5.png" alt="" class="social-contact-profile"> <p class="sidebar-nav-p">Payments</p></a></li>
                                    <li class="sidebar-nav-li"><a href="/project" class="sidebar-nav-tab"><img src="../images/download-25.png" alt="" class="social-contact-profile"> <p class="sidebar-nav-p">My Project</p></a></li>
                                    <li class="sidebar-nav-li">
                                        <button type="button" class="sidebar-nav-tab logout-btn" id="logout-btn" onclick="logout()"> 
                                            <img src="../images/222.png" alt="" class="social-contact-profile"> 
                                            <p class="sidebar-nav-p">Log out</p> 
                                        </button> 
                                    </li>
                                </ul>
                             
                            </section>
                     
                        </div>
 
                        <div class="main-section">
                      
                           
                            <!-- Header section start -->
                                <section class="first-header-main-container">
                                    <div class="first-header-main-container-wrapper " >
                                        <section >
                                            <ul class="left-section-container">
                                                <li class="left-icon"><a href="" class="opensidebar" onclick="openSidebar()"><img src="../images/—Pngtree—menu icon_4490397.png" alt="" class="social-contact-profile"> <p class="left-p"></p></a></li>
                                                <li class="left-icon"><a href="" class=""><img src="../images/download-23.png" alt="" class="social-contact-profile"> <p class="left-p"></p></a></li>
                                                <li class="user-login-state"><h4 >You're logged in as a client</h4></li>
                                        </ul>
                                        </section>
                                        <section class="right-section-container">
                                            <p class="users-name"><h4><span id="details-name" class="names-font"></span> <span id="details-name-last"  class="names-font"> </span></h4>  <img src="../images/wwe.png" alt="" class="social-contact-profile social-contact-profile-2 social-contact-profile-3 settings"></p>
                                            <section class="settings-container">
                                                <div>
                                                     <div class="cross-container">
                                                    <section class="cross cross-1 "></section>
                                                    <section class="cross cross-2"></section>
                                                    </div>
                                                </div>
                                                <ol>
                                                    <li><h4>mode :</h4> <div><p>dark</p> <p>light</p></div></li>
                                                    <li><h4>delete account :</h4> <a href="" id="delete-account">detete</a></li>
                                                </ol>

                                            </section>
                                        </section>                                    
                                    </div>
                                </section>
                            <!-- Header section ends -->

                            <h1 class="page">Profile</h1>
                              
                            <div class="main-content-container">
                                <section class="">
                            
                                    <div class="second-header-main-container"> 
                                        <h3 class="active-page-tab">Home <img src="../images/arrow-right-new.png" alt="" class="social-contact-profile social-contact-profile-2">  Profile</h3>
                                        <h3 class="active-page-tab"><h2 class="active-page">Profile |  <span id="user_first_name_1" class="active-page-tab-users-name"></span> <span id="user_last_name_1" class="active-page-tab-users-name"></span></h2> </h3>
                                    
                                    </div>
                           
                                    <div >
                                        <ul class="main-content-container-page-nav">
                                            <li class="page-nav-li"><div class="page-nav-tab Tab" onclick="Profile_tab_btn('my-profile')"><img src="../images/download-25.png" alt="" class="social-contact-profile"> <p class="page-nav-p">My Profile</p></div></li>
                                            <li class="page-nav-li"><div class="page-nav-tab  Tab" onclick="Profile_tab_btn('edit-profile')"><img src="../images/download-6.png" alt="" class="social-contact-profile"> <p class="page-nav-p">Edit Profile</p></div></li>
                                            
                                            <li class="page-nav-li"><div class="page-nav-tab  Tab" onclick="Profile_tab_btn('complete-user-profile')"><img src="../images/enrollment_17281344.png" alt="" class="social-contact-profile"> <p class="page-nav-p">User profile</p></div></li>
                                            <li class="page-nav-li"><div class="page-nav-tab  Tab" onclick="Profile_tab_btn('payment')"><img src="../images/download-5.webp" alt="" class="social-contact-profile"> <p class="page-nav-p">Password</p></div></li>
                                        </ul>
                                    </div>
                                                               
        <section class="all-contents-conatiner">



                         <div class="activites-dash-tabs-wrapper">
                          
                                <div class="my-profile-contents-conatiner-tabs" id="my-profile" > 
                                    <img src="" height="300" width="300" title="profile photo" id="profile-photo">
                                    <table class="table-header">
                                            <tr>
                                                <td class="user-details-slogan ">User Details</td>
                                            </tr>
                                            <tr>
                                                <td><h4><span id="user_first_name"></span> <span id="user_last_name"></span></h4></td>
                                            </tr>
                                        
                        
                        
                                            <tr>  
                                                <th class="profile-details">ID Number</th>
                                                <td class="profile-details-values" id="user-id"></td>
                                                    <th class="profile-details">Entity</th>
                                                <td class="profile-details-values" id="entity"></td>
                                            
                                            </tr>
                                            <tr>
                                                <th class="profile-details">Phone</th>
                                                <td class="profile-details-values" id="phone"></td>
                                                    <th class="profile-details">NRC/Passport</th>
                                                <td class="profile-details-values" id="id_or_passport"></td>
                                                
                                            </tr>
                                            <tr>
                                                <th class="profile-details">Gender</th>
                                                <td class="profile-details-values" id="gender"></td>
                                                    <th  class="profile-details">ID Number</th>
                                                <td class="profile-details-values">202510001</td>
                                            </tr>

                                            <tr>
                                                <th  class="profile-details">Date</th>
                                                <td class="profile-details-values" id="date"></td>
                                                <th  class="profile-details" >Email</th>
                                                <td class="profile-details-values" id="email"></td>
                                            </tr>    
                                    </table>
                            
                                </div>

                                  <div class="edit-profile-contents-conatiner-tabs" id="edit-profile">
                                
                                     <section class="reciepts-table"> 
                                        <form action="/api/profile/update" method="post" class="user-profile-form user-profile-form-2 ">
                                            <h3>Update and Edit user credentials</h3>                       
                                            <input type="text" placeholder="first name" name="first_name" class="first-name" id="first-name1">
                                            <input type="text" placeholder="last name" name="last_name" id="last-name1">       
                                            <input type="text" placeholder="user name" name="user_name" id="user-name1">    
                                            <input type="text" placeholder="email" name="email" id="email1">
                                            <input type="text" placeholder="Nrc/passport" id="passport1">
                                            <input type="text" placeholder="Phone" class="phone" id="phone1">
                      
                                            <div class="payment-method">
                                                <div class="pay-options-container">
                                                    <label for="male">Male</label>
                                                    <input type="radio" name="gender" id="male" value="male"> 
                                                </div>

                                                <div class="pay-options-container">
                                                    <label for="female">Female</label>
                                                    <input type="radio" name="gender" id="female" value="female">
                                                </div>
                                             </div>

                                            <input type="file" name="photo" id="phot" title="n">
                        
                                            <select name="entity1" id="entity1" title="cartigory">
                                                <option value="individual">individual</option>
                                                <option value="co-operation">co-operation</option>
                                                <option value="group">group</option>
                                                <button type="submit"  >Submit</button>
                                            </select>
                                                  <button type="submit" class="submit-btn-user-profile">update</button>
                            </form>  
                            </section>  
                                 </div>
                        
               

                                

                             <div class="complete-user-profile-contents-conatiner-tabs" id="complete-user-profile"> 
                                <section class="reciepts-table">             
                                   <form action="/api/userprofile" method="post" class="user-profile-form" enctype="multipart/form-data">
                                        <h3>Complete registration</h3>
                                        <input type="text" name="id_passport" placeholder="id or passport">
                                        <input type="text" name="phone" placeholder="contact">
                                        <label for="photo">upload profile photo</label>
                                        <input type="file" name="photo" id="photo" placeholder="photo" title="n" value="upload profile pic" role="checkbox">
                                     
                                        <!-- <div class="payment-method">
                                            <div class="pay-options-container">
                                                <label for="male">Male</label>
                                                <input type="radio" name="gender1" id="male" value="male"> 
                                            </div>

                                            <div class="pay-options-container">
                                                <label for="female">Female</label>
                                                <input type="radio" name="gender1" id="female" value="female">
                                            </div>
                                        </div> -->
                   
                                        <select name="entity" id="" title="cartigory">
                                            <option value="individual">individual</option>
                                            <option value="co-operation">co-operation</option>
                                            <option value="group">group</option>
                                        
                                        </select>
                     
                        
                                        <button type="submit" class="submit-btn-user-profile" >Submit</button>
                                   </form>
                                </section>
                             </div>

                            <div class="payment-contents-conatiner-tabs" id="payment">
                                  <section class="reciepts-table"> 

                                    <div class="payment-method-wrapper">
                                        <section class="payment-method">
                                            <img src="/images/airtel-logo-white-text-vertical.jpg" alt="" srcset="" height="120" width="120">
                                            <h3>Pay with</h3>
                                            <button class="pay-btn">Airtel Mobile money</button>
                                        </section>
                                        <section class="payment-method">
                                             <img src="/images/mtn-mobile-logo-icon.png" alt="" srcset="" height="120" width="120">
                                             <h3>Pay with</h3>
                                             <button class="pay-btn" onclick="Initiate_MTN_Pay()" >MTN Mobile money</button>
                                        </section>
                                        <section class="payment-method">
                                              <img src="/images/stripe-icon.png" alt="" srcset="" height="120" width="120">
                                              <h3>Pay with</h3>
                                             <button class="pay-btn">Credit Card</button>
                                        </section>
                                    </div>
                                   <!--  -->

                                    <section class="mtn-payment-container">
                                        <form action="/MTN_pay" method="post" class="mtn-payment-form">
                                            <img src="/images/mtn-mobile-logo-icon.png" alt="" height="150px" width="160px">
                                            <input type="number" name="amount" id="amount" placeholder="Amount to pay" required class="no-arrows">
                                            <input type="number" name="phone_number" id="phone_number" placeholder="Phone number" required class="no-arrows">
                                            <input type="text" name="payerMessage" id="description" placeholder="description" required class="no-arrows">
                                            
                                            <button type="submit" class="mtn-btn">Paying via Mtn</button>
                                        </form>
                                    </section>
                               </section>

                            </div>
                            
                          </div>



    











           






                                                                                             
                    
                
         
                   
<!--                      
                    </section>
       </div>
              
                        </div>    -->
                   </section>
              
                <!-- header section first page end -->
    </header>
    <!-- Header section ends -->

    <!-- Main section start -->
 
    

 <script src="/index.js"></script>
 <script src="/js/profile.js"></script>
  <script src="/js/logout.js"></script>
 
</body>
</html>