<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/dashboard.css"> 
    <link rel="stylesheet" href="/css/responsive.css"> 
    <title>Dashboard</title>
    <link rel="shortcut icon" href="/images/Utherian Logo in white.png" type="image/x-icon">
</head>
<body >

    <!-- Header section start -->
    <header>
        <!-- header section top status start  -->
        <ul class="header-setion-top-status">
        
            <li><a href="#" title="online-payment"><img src="../images/download-30.png" alt="" class="social-contact" height="20px" width="20px"></a></li>
            <li><a href="https://wa.me/message/T74S7GVHOPKDJ1" title="whatsapp"><img src="../images/download-21.webp" alt="" class="social-contact" height="20px" width="20px"></a></li>
            <li><a href="+260 97 0468632" title="call-us"><img src="../images/download-7.png" alt="" class="social-contact"  height="20px" width="20px"></a></li>
            <li><a href="https://wa.me/message/T74S7GVHOPKDJ1" title="our-instagram-page"><img src="../images/download-25.webp" alt="" class="social-contact" height="20px" width="20px"></a></li>
            <!-- <li class="tabs tab-4">Shop</li> -->
            <li><a href="utherianlimited@gmail.com" title="email-us"><img src="../images/download-18.png" alt="" class="social-contact"  height="20px" width="20px"></a></li>
            <li><a href="https://wa.me/message/T74S7GVHOPKDJ1" title="our-facebook-page"><img src="../images/download-18.webp" alt="" class="social-contact" height="20px" width="20px"></a></li>

        </ul>
        <!-- header section top status end  -->

            <!-- header section top header start  -->
            <ul class="header-section-top-header">
                
                <li>
                    <nav>
                        <h4 class="company-name">Welcome to utherian</h4>
                    </nav>
                </li>

           
            </ul>
             <!-- header section top header end  -->

            <!-- header section first page start -->
                <div class="header-section-first-page"> 
                   
                    <section class="full-page-container">
                        <div class="full-page-container-sidebar">
                            <section class="full-page-container-sidebar-header">
                            <img src="../images/Utherian technologies logo.png" alt="" class="logo">

                             <h3 class="main-company-name">Utherian technologies</h3>

                             <p class="oniine-portal">ONLINE PORTAL</p>
                              <form action="" method="get">
                                <input type="search" name="" id="" placeholder="..search">
                              </form>
                            </section>

                            <section class="sidebar-main-tabs-container">
                                
                                <ul>
                                    <li class="sidebar-nav-li"><a href="/dashboard" class="sidebar-nav-tab"><img src="../images/22.png" alt="" class="social-contact-profile social-contact-profile-circle"> <p class="sidebar-nav-p">Dashbord</p></a></li>
                                    <li class="sidebar-nav-li"><a href="/profile" class="sidebar-nav-tab"><img src="../images/download-22.png" alt="" class="social-contact-profile social-contact-profile-circle"> <p class="sidebar-nav-p">Profile</p></a></li>
                                    <li class="sidebar-nav-li"><a href="/booking" class="sidebar-nav-tab"><img src="../images/calendar_2693507d.png" alt="" class="social-contact-profile social-contact-profile-circle"> <p class="sidebar-nav-p">Booking</p></a></li>
                                    <li class="sidebar-nav-li"><a href="/payment" class="sidebar-nav-tab"><img src="../images/download-5.png" alt="" class="social-contact-profile social-contact-profile-circle"> <p class="sidebar-nav-p">Payments</p></a></li>
                                    <li class="sidebar-nav-li"><a href="/project" class="sidebar-nav-tab"><img src="../images/download-25.png" alt="" class="social-contact-profile social-contact-profile-circle"> <p class="sidebar-nav-p">My Project</p></a></li>
                                    <li class="sidebar-nav-li">
                                        <button type="button" class="sidebar-nav-tab logout-btn" id="logout-btn">
                                            <img src="../images/222.png" alt="" class="social-contact-profile"> 
                                            <p class="sidebar-nav-p">Log out</p> 
                                        </button> 
                                    </li>
                                </ul>
                             
                            </section>
                     
                        </div>
 
                        <div class="main-section">
                      
                           
                            <!-- Header section start -->
                                <section class="first-header-main-container">
                                    <div class="first-header-main-container-wrapper " >
                                        <section >
                                            <ul class="left-section-container">
                                                <li class="left-icon"><a href="" class="opensidebar" onclick="openSidebar()"><img src="../images/—Pngtree—menu icon_4490397.png" alt="" class="social-contact-profile"> <p class="left-p"></p></a></li>
                                                <li class="left-icon"><a href="" class=""><img src="../images/download-23.png" alt="" class="social-contact-profile"> <p class="left-p"></p></a></li>
                                                <li class="user-login-state"><h4 >You're logged in as a client</h4></li>
                                        </ul>
                                        </section>
                                        <section class="right-section-container">
                                            <p class="users-name"><h4><span id="details-name" class="names-font"></span> <span id="details-name-last" class="names-font"> </span></h4>  <img src="../images/wwe.png" alt="" class="social-contact-profile social-contact-profile-2 social-contact-profile-3 settings"></p>
                                        </section>                                    
                                    </div>
                                </section>
                            <!-- Header section ends -->

                            <h1 class="page">Dashbord</h1>
                              
                            <div class="main-content-container">
                                <section class="">
                            
                                    <div class="second-header-main-container"> 
                                        <h3 class="active-page-tab">Home <img src="../images/arrow-right-new.png" alt="" class="social-contact-profile social-contact-profile-2">  Dashboard</h3>
                                        <h3 class="active-page-tab"><h2 class="active-page">Dashboard |  <span id="user_first_name_1" class="active-page-tab-users-name"></span> <span id="user_last_name_1" class="active-page-tab-users-name"></span></h2> </h3>
                                    
                                    </div>
                            
                                    <div >
                                        <ul class="main-content-container-page-nav">
                                            <li class="page-nav-li"><a href=""  class="page-nav-tab Tab"><img src="../images/download-25.png" alt="" class="social-contact-profile"> <p class="page-nav-p">Performance</p></a></li>
                                            <li class="page-nav-li" ><a href="" class="page-nav-tab"><img src="../images/download-6.png" alt="" class="social-contact-profile"> <p class="page-nav-p">Bookings</p></a></li>
                    
                                            <li class="page-nav-li"><a href="" class="page-nav-tab"><img src="../images/enrollment_17281344.png" alt="" class="social-contact-profile"> <p class="page-nav-p">Projects</p></a></li>
                                            <li class="page-nav-li"><a href="" class="page-nav-tab"><img src="../images/download-5.png" alt="" class="social-contact-profile"> <p class="page-nav-p">Settings</p></a></li>
                                        </ul>
                                    </div>
                            
                                    <section class="all-contents-conatiner  all-contents-conatiner-dashboard ">
                        
                                     


                               
                                   <div class="payment-reciept-container dashboard-gride" id="payment-reciept">
                                
                                    <table class="reciepts-table">
                                    
                                       
                                    <div>
                                        <h3 class="header">Booking statistics</h3>
                                        <div class="dash-bookings-main-container">
                                            
                                            <section>
                                            
                                                <div class="dash-bookings-container"> 
                                                    <div><h3>Approved Bookings </h3> <h4>1</h4></div>
                                                </div>
                                                <div class="dash-bookings-container"> 
                                                    <div><h3>Pending Bookings </h3> <h4>0</h4></div>
                                                </div>
                                                <div class="dash-bookings-container"> 
                                                    <div><h3>Rejected Bookings </h3> <h4>3</h4></div>
                                                </div>
                                                <div class="dash-bookings-container"> 
                                                    <div><h3>Total Bookings </h3> <h4>11</h4></div>
                                                </div>

                                                <div class="todays-appointment"> 
                                                    <h3 class="dash-headers-cards">Today's appointments</h3>
                                                    <h4>location : <span class="location"></span></h4>
                                                    <h4>service : <span class="service"></span></h4>  
                                                    <h4>date : <span class="date"></span></h4>

                                                     <h4>time : <span class="time"></span></h4>
                                                      <h4>name : <span></span></h4>
                                                       <h4>call : <span class="phone-number"></span></h4>
                                                       <h4>Status : <span class="status"></span></h4>
                                                        
                                                       <section>
                                                        <button class="appointment-button appointment-button-procced">accept</button>
                                                        <button class="appointment-button appointment-button-cancel">cancel</button>
                                                       </section>
                                                </div>



                                                  <!-- <div class="todays-appointment"> 
                                                    <h3 class="dash-headers-cards">Add booking</h3>
                                                    <h4>zz : <span>East park mall</span></h4>
                                                    <h4>service : <span>web app</span></h4>  
                                                    <h4>date : <span>25/22/2025</span></h4>

                                                     <h4>time : <span>12:30 pm</span></h4>
                                                     
                                                        
                                                       <section>
                                                        <button>procced</button>
                                                        <button>cancel</button>
                                                       </section>
                                                </div> -->
                                            </section>

                                            <section>
                                                
                                              
                                            </section>
                                           <!-- <canvas width="100px" height="70px" style="background-color: rgb(255, 255, 255);"></canvas> -->

                                        </div>
                                        </div>
                                        <!-- dd -->
                                     <div>
                                        <h3 class="header">Payments</h3>
                                        <div class="dash-bookings-main-container">
                                            
                                            <section>
                                            
                                                <div class="dash-bookings-container dash-payment-container"> 
                                                    <div><h3>Total amount bill</h3> <h4>k1,299.00</h4></div>
                                                </div>
                                             
                                                <div class="dash-bookings-container dash-payment-container"> 
                                                    <div><h3>Total paid amount </h3> <h4>k23,400.34</h4></div>
                                                </div>
                                                <div class="dash-bookings-container dash-payment-container"> 
                                                    <div><h3>Total transactions </h3> <h4>4</h4></div>
                                                </div>

                                                <div class="todays-appointment todays-payments "> 
                                                    <h3 class="dash-headers-cards">Make payments</h3>
                                                    <h4>FNB Bank account : <span>East park mall</span></h4>
                                                   
                                                       <h4>account number : <span>84970468632</span></h4>
                                                       <h4>account name : <span>utherian</span></h4>
                                                        
                                                       <div class="pay-container">
                                                        <div>
                                                            <img src="../images/airtel-logo-icon.png"  height="50" width="50" alt="">
                                                            <button class="pay-button pay-button-airtel ">Airtel money</button>
                                                        </div>
                                                         <div>
                                                            <img src="../images/mtn-mobile-logo-icon.png"  height="50" width="50" alt="">
                                                            <button class="pay-button pay-button-mtn ">MTN money</button>
                                                        </div>

                                                         <div>
                                                            <img src="../images/mtn-mobile-logo-icon.png"  height="50" width="50" alt="">
                                                         <button class="pay-button">visa payment</button>
                                                        </div>
                                                        
                                                       
                                                       </div>
                                                </div>



                                                  
                                            </section>

                                            <section>
                                                
                                              
                                            </section>
                                           <!-- <canvas width="100px" height="70px" style="background-color: rgb(255, 255, 255);"></canvas> -->

                                        </div>
                                        </div>
                                        <!-- dd -->






                                        <!-- ff -->
                                     <div>
                                        <h3 class="header">Updates</h3>
                                        <div class="dash-bookings-main-container">
                                            
                                            <section>
<!--                                             
                                                <div class="dash-bookings-container"> 
                                                    <div><h3>Approved Bookings </h3> <h4>1</h4></div>
                                                </div>
                                                <div class="dash-bookings-container"> 
                                                    <div><h3>Pending Bookings </h3> <h4>0</h4></div>
                                                </div>
                                                <div class="dash-bookings-container"> 
                                                    <div><h3>Rejected Bookings </h3> <h4>3</h4></div>
                                                </div>
                                                <div class="dash-bookings-container"> 
                                                    <div><h3>Total Bookings </h3> <h4>11</h4></div>
                                                </div> -->

                                                <div class="todays-appointment"> 
                                                    <h3 class="dash-headers-cards">appointments update</h3>
                                                    <h4>location : <span>East park mall</span></h4>
                                                    <h4>service : <span>web app</span></h4>  
                                                    <h4>date : <span>25/22/2025</span></h4>

                                                     <h4>time : <span>12:30 pm</span></h4>
                                                      <h4>name : <span>Fidelis Kaoma</span></h4>
                                                       <h4>call : <span>0970468632</span></h4>
                                                        
                                                       <section>
                                                        <button>procced</button>
                                                        <button>cancel</button>
                                                       </section>
                                                </div>



                                                  <div class="todays-appointment"> 
                                                    <h3 class="dash-headers-cards">payment updates</h3>
                                                    <h4>zz : <span>East park mall</span></h4>
                                                    <h4>service : <span>web app</span></h4>  
                                                    <h4>date : <span>25/22/2025</span></h4>

                                                     <h4>time : <span>12:30 pm</span></h4>
                                                     
                                                        
                                                       <section>
                                                        <button>procced</button>
                                                        <button>cancel</button>
                                                       </section>
                                                </div>
                                            </section>

                                            <section>
                                                
                                              
                                            </section>
                                           <!-- <canvas width="100px" height="70px" style="background-color: rgb(255, 255, 255);"></canvas> -->

                                        </div>
                                        </div>
                                        <!-- ff -->
                                        


                                        <!-- bbbb -->

                                     <div class="project-management-container">
                                        <h3 class="header">Project</h3>
                                        <div class="dash-bookings-main-container project-container">
                                            
                                            <section class="">
<!--                                             
                                                <div class="dash-bookings-container"> 
                                                    <div><h3>Approved Bookings </h3> <h4>1</h4></div>
                                                </div>
                                                <div class="dash-bookings-container"> 
                                                    <div><h3>Pending Bookings </h3> <h4>0</h4></div>
                                                </div>
                                                <div class="dash-bookings-container"> 
                                                    <div><h3>Rejected Bookings </h3> <h4>3</h4></div>
                                                </div>
                                                <div class="dash-bookings-container"> 
                                                    <div><h3>Total Bookings </h3> <h4>11</h4></div>
                                                </div> -->

                                                <div class="todays-appointment"> 
                                                    <h3 class="dash-headers-cards">project details</h3>
                                                    <h4>location : <span>East park mall</span></h4>
                                                    <h4>service : <span>web app</span></h4>  
                                                    <h4>date : <span>25/22/2025</span></h4>

                                                     <h4>time : <span>12:30 pm</span></h4>
                                                      <h4>name : <span>Fidelis Kaoma</span></h4>
                                                       <h4>call : <span><input type="range" name="" id="" ></span></h4>
                                                        
                                                       <section>
                                                        <button>procced</button>
                                                        <button>cancel</button>
                                                       </section>
                                                </div>



                                                  <div class="todays-appointment"> 
                                                    <h3 class="dash-headers-cards">Add booking</h3>
                                                     <canvas width="100px" height="70px" style="background-color: rgb(255, 255, 255);"></canvas>
                                                </div>

                                                
                                            </section>

                                            <section>
                                                
                                              
                                            </section>
                                          

                                        </div>
                                        </div>
                                        <!-- bbbb -->

                                    </table>







                                    
                                </div>
                                



                                <!--  -->


                 
                                             
                                         <!-- <section class="activites-tab">
                                            <section>
                                                <div>
                                                    <h3>project meeting</h3>
                                                    <h4 class="activity-type">
                                                        Hotel & Accommodation <br> booking website
                                                    </h4>
                                                    <h4 class="activity-code">Code: SP01-001</h4>
                                                    <p class="activity-description">
                                                        Online bookings and <br> Space reservation for <br> Eastemed clients 
                                                    </p>
                                                </div>
                                                <section>
                                                    <h4 class="activity-status">Status: planning</h4>
                                                </section>

                                                <section>
                                                    <button class="activity-button">Done</button>
                                                </section>
                                                
                                            </section>
                                        </section> -->
                          
                                    
                                        
                                    </section>
                                  
                                </section>
                            </div>






                                                                                             
                            <!-- <h3 id="daa"></h3> -->
                
                        </div>
                   
                     
                    </section>
       
                </div>  
                <!-- header section first page end -->
    </header>
    <!-- Header section ends -->

    <!-- Main section start -->
 
    


 <!-- <script src="/booking.js"></script> -->
<script src="/js/chart.js"></script>
<!-- <script src="/js/v4.5.1 source code/chartjs-Chart.js-9c5cf9f/auto/auto.cjs"></script> -->
 <script src="/js/dashboard.js"></script>
 <script src="/js/logout.js"></script>

 
 
</body>
</html>