 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/projects.css">
        <link rel="stylesheet" href="/css/responsive.css">
    <title>Project</title>
    <link rel="shortcut icon" href="/images/Utherian Logo in white.png" type="image/x-icon">
</head>
<body >

   <!-- Header section start -->
    <header>
        <!-- header section top status start  -->
        <ul class="header-setion-top-status">
        
            <li><a href="#" title="online-payment"><img src="../images/download-30.png" alt="" class="social-contact" height="20px" width="20px"></a></li>
            <li><a href="https://wa.me/message/T74S7GVHOPKDJ1" title="whatsapp"><img src="../images/download-21.webp" alt="" class="social-contact" height="20px" width="20px"></a></li>
            <li><a href="+260 97 0468632" title="call-us"><img src="../images/download-7.png" alt="" class="social-contact"  height="20px" width="20px"></a></li>
            <li><a href="https://wa.me/message/T74S7GVHOPKDJ1" title="our-instagram-page"><img src="../images/download-25.webp" alt="" class="social-contact" height="20px" width="20px"></a></li>
            <!-- <li class="tabs tab-4">Shop</li> -->
            <li><a href="utherianlimited@gmail.com" title="email-us"><img src="../images/download-18.png" alt="" class="social-contact"  height="20px" width="20px"></a></li>
            <li><a href="https://wa.me/message/T74S7GVHOPKDJ1" title="our-facebook-page"><img src="../images/download-18.webp" alt="" class="social-contact" height="20px" width="20px"></a></li>

        </ul>
        <!-- header section top status end  -->

            <!-- header section top header start  -->
            <ul class="header-section-top-header">
                
                <li>
                    <nav>
                        <h4 class="company-name">Welcome to utherian</h4>
                    </nav>
                </li>

           
            </ul>
             <!-- header section top header end  -->

            <!-- header section first page start -->
                <div class="header-section-first-page"> 
                   
                    <section class="full-page-container">
                        <div class="full-page-container-sidebar">
                            <section class="full-page-container-sidebar-header">
                            <img src="../images/Utherian technologies logo.png" alt="" class="logo">

                             <h3 class="main-company-name">Utherian technologies</h3>

                             <p class="oniine-portal">ONLINE PORTAL</p>
                              <form action="" method="get">
                                <input type="search" name="" id="" placeholder="..search">
                              </form>
                            </section>

                            <section class="sidebar-main-tabs-container">

                                <ul>
                                    <li class="sidebar-nav-li"><a href="/dashboard" class="sidebar-nav-tab"><img src="../images/22.png" alt="" class="social-contact-profile"> <p class="sidebar-nav-p">Dashbord</p></a></li>
                                    <li class="sidebar-nav-li"><a href="/profile" class="sidebar-nav-tab"><img src="../images/download-22.png" alt="" class="social-contact-profile"> <p class="sidebar-nav-p">Profile</p></a></li>
                                    <li class="sidebar-nav-li"><a href="/booking" class="sidebar-nav-tab"><img src="../images/calendar_2693507d.png" alt="" class="social-contact-profile"> <p class="sidebar-nav-p">Booking</p></a></li>
                                    <li class="sidebar-nav-li"><a href="/payment" class="sidebar-nav-tab"><img src="../images/download-5.png" alt="" class="social-contact-profile"> <p class="sidebar-nav-p">Payments</p></a></li>
                                    <li class="sidebar-nav-li"><a href="/project" class="sidebar-nav-tab"><img src="../images/download-25.png" alt="" class="social-contact-profile"> <p class="sidebar-nav-p">My Project</p></a></li>
                                    <li class="sidebar-nav-li">
                                        <button type="button" class="sidebar-nav-tab logout-btn" id="logout-btn">
                                            <img src="../images/222.png" alt="" class="social-contact-profile"> 
                                            <p class="sidebar-nav-p">Log out</p> 
                                        </button> 
                                    </li>
                                </ul>
                             
                            </section>
                     
                        </div>
 
                        <div class="main-section">
                      
                           
                            <!-- Header section start -->
                                <section class="first-header-main-container">
                                    <div class="first-header-main-container-wrapper " >
                                        <section >
                                            <ul class="left-section-container">
                                                <li class="left-icon"><a href="" class="opensidebar" onclick="openSidebar()"><img src="../images/—Pngtree—menu icon_4490397.png" alt="" class="social-contact-profile"> <p class="left-p"></p></a></li>
                                                <li class="left-icon"><a href="" class=""><img src="../images/download-23.png" alt="" class="social-contact-profile"> <p class="left-p"></p></a></li>
                                                <li class="user-login-state"><h4 >You're logged in as a client</h4></li>
                                        </ul>
                                        </section>
                                        <section class="right-section-container">
                                             <p class="users-name"><h4><span id="details-name" class="names-font"></span> <span id="details-name-last" class="names-font"> </span></h4>  <img src="../images/wwe.png" alt="" class="social-contact-profile social-contact-profile-2 social-contact-profile-3 settings"></p>
                                        </section>                                    
                                    </div>
                                </section>
                            <!-- Header section ends -->

                            <h1 class="page">Project</h1>
                    
                              
                            <div class="main-content-container">
                                <section class="">
                            
                                    <div class="second-header-main-container"> 
                                        <h3 class="active-page-tab">Home <img src="../images/arrow-right-new.png" alt="" class="social-contact-profile social-contact-profile-2">  Project</h3>
                                        <h3 class="active-page-tab"><h2 class="active-page">Project |  <span id="user_first_name_1" class="active-page-tab-users-name"></span> <span id="user_last_name_1" class="active-page-tab-users-name"></span></h2> </h3>
                                    
                                    </div>
                            
                                    <div >
                                        <ul class="main-content-container-page-nav">
                                            <li class="page-nav-li"><div class="page-nav-tab" onclick="booking_tab_btn('book-us')"><img src="../images/download-25.png" alt="" class="social-contact-profile"> <p class="page-nav-p">Book us</p></div></li>
                                            <li class="page-nav-li"><div class="page-nav-tab" onclick="booking_tab_btn('all-bookings')"><img src="../images/download-6.png" alt="" class="social-contact-profile"> <p class="page-nav-p">All Bookings</p></div></li>
                                            
                                            <li class="page-nav-li"><div class="page-nav-tab" onclick="booking_tab_btn('approved')"><img src="../images/enrollment_17281344.png" alt="" class="social-contact-profile"> <p class="page-nav-p">Pending</p></div></li>
                                            <li class="page-nav-li"><div class="page-nav-tab" onclick="booking_tab_btn('pending')"><img src="../images/download-5.webp" alt="" class="social-contact-profile"> <p class="page-nav-p">Approved</p></div></li>
                                        </ul>
                                    </div>
                            
                                    
       
<!-- rrrr -->
   <section class="all-contents-conatiner">



                                                        <div class="activites-dash-tabs-wrapper ">
                          
                                <div class="my-profile-contents-conatiner-tabs" id="book-us" >
                            
                                   
                                   
                                     <form action="/api/booking" method="post" class="user-profile-form booking-form">
                     <h3>Booking</h3>
                    <div class="form-date-container">
                        <!-- <label for="date" class="feild-lable">Date:</label> -->
                        <input type="date" name="booking_date" id="date" class="" title="date">
                    </div>

                    <div class="time-container">
                        <!-- <label for="time" class="feild-lable">Time:</label> -->
                        <input type="time" name="booking_time" id="time" class="" required placeholder="time">
                    </div>
                  

            <select name="service" id="service" title="orders">
                    <option value="project discussion">project discussion   k100.00</option>
                    <option value="website maintainance">websie maintainance   k1200.00</option>
            </select>

<!--           
            <input type="password" name="" id="" title="password" autocomplete="current-password">
    
             -->
            <button type="submit">Book now</button>
                </form>
                                    
                                    <!-- <div class="pass-edit-cont">
                                        <button type="button">Change password</button>
                                        <button type="button">Edit profile details</button>
                                    </div> -->
                                </div>






                                  <div class="edit-profile-contents-conatiner-tabs" id="all-bookings">
                                
                                   <div class="payment-reciept-container" id="payment-reciept">
                                    <h2 class="reciepts">All bookings</h2>
                                    <table class="reciepts-table">
                                    
                                        <tr>
                                            <th class="No no">No</th>
                                            <th>Code</th>
                                            <th>Name</th>
                                            <th>Booking Date</th>
                                            <th>Service</th>
                                           
                                              <th>Time</th>
                                              
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                        
                                    </table>
                                </div>


                   
                                </div>




                                  <div class="complete-user-profile-contents-conatiner-tabs" id="approved">
                                  
                                    <!-- <form action="" method="post" class="user-profile-form">
                                        <input type="text" placeholder="id/passport">
                                        <input type="text" placeholder="Contact">
                                        <input type="text">
                                        <select name="gender" id="gender">
                                            <option value="male">Male</option>
                                            <option value="female">Female</option>
                                            
                                        </select>

                                         <select name="entity" id="entity">
                                            <option value="individual">Individual</option>
                                            <option value="company">company</option>
                                            
                                        </select>
                                    </form> -->
                                    
                                    
                       <section class="reciepts-table">             
                <form action="/api/userprofile" method="post" class="user-profile-form">
                    <h3>Complete registration</h3>
                    <div>
                      
                        <input type="text" name="id_passport" placeholder="id or passport">
                        <input type="text" name="phone" placeholder="contact">
                        <input type="file" name="photo" id="photo" placeholder="d">
                       
                     
                              
                        <div class="payment-method">
                            <div class="pay-options-container">
                                <label for="male">Male</label>
                                <input type="radio" name="gender" id="male" value="male"> 
                            </div>

                            <div class="pay-options-container">
                                <label for="female">Female</label>
                                <input type="radio" name="gender" id="female" value="female">
                            </div>
                        </div>
                   
                        <select name="entity" id="" title="cartigory">
                            <option value="individual">individual</option>
                            <option value="co-operation">co-operation</option>
                            <option value="group">group</option>
                           
                        </select>
                     
                    </div>
                        
                        <button type="submit" class="submit-btn-user-profile" >Submit</button>
                </form>
                       </section>

              
              
                                </div>



                                 

 <section class="mtn-payment-container">
        
        <!-- <form action="/MTN_pay" method="post" class="mtn-payment-form">
            <img src="/images/mtn-mobile-logo-icon.png" alt="" height="150px" width="160px">
            <input type="number" name="amount" id="amount" placeholder="Amount to pay" required class="no-arrows">
             <input type="number" name="phone_number" id="phone_number" placeholder="Phone number" required class="no-arrows">
               <input type="text" name="payerMessage" id="description" placeholder="description" required class="no-arrows">
             
             <button type="submit" class="mtn-btn">Paying via Mtn</button>
        </form>
        -->
        <div class="main-software-product-container">

      

        <div class="software-product-container">
            <img src="/images/adeolu-eletu-E7RLgUjjazc-unsplash.jpg" alt="" class="logo">
            <div class="software-product-content-container">
                <section class="spc-details-container">
                    <h2>
                        Portfolio website
                    </h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident, 
                        quod quam expedita nobis eveniet doloremque magni possimus nostrum voluptates 
                        impedit, adipisci quidem dolores temporibus molestias atque sapiente. Exercitationem, 
                        aliquid quasi <b>fggg</b></p>
                </section>
                <section>
                  <h2>8.1</h2>
                   <button>show price</button>
                </section>
            </div>
        </div>

         <div class="software-product-container">
            <img src="/images/adeolu-eletu-E7RLgUjjazc-unsplash.jpg" alt="" class="logo">
            <div class="software-product-content-container">
                <section class="spc-details-container">
                    <h2>
                        Landing website
                    </h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident, 
                        quod quam expedita nobis eveniet doloremque magni possimus nostrum voluptates 
                        impedit, adipisci quidem dolores temporibus molestias atque sapiente. Exercitationem, 
                        aliquid quasi <b>fggg</b></p>
                </section>
                <section>
                  <h2>8.1</h2>
                   <button>show price</button>
                </section>
            </div>
        </div>  
    </div>
    </section>

                                    <!--  -->
                                    
                                   
                                     
                                </div>
                            </div>


















           
                                </section>
 <!-- \rrr -->




      
                            </div>

                                                                                             
                         
                
                        </div>
                   
                     
                    </section>
       
                </div>  

                
  

                <!-- header section first page end -->
    </header>
    <!-- Header section ends -->

    <!-- Main section start -->
 
    

 <script src="/index.js"></script>
 <script src="/js/dashboard.js"></script>
 <script src="/js/project.js"></script>
  <script src="/js/logout.js"></script>
 
</body>
</html>       
        
        
       