<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/login.css">
    <title>Utherian technologies</title>
    <link rel="shortcut icon" href="/images/Utherian Logo in white.png" type="image/x-icon">
</head>
<body>

    <!-- Header section start -->
    
        <!-- header section top status end  -->

    

            <!-- header section first page start -->
                <div class="header-section-first-page"> 
                                      <section class="first-page-container">
                     
                     <h1>Internal Server Error: 500.</h1>
                    </section>
                        
                </div>
                <!-- header section first page end -->
    </header>
    <!-- Header section ends -->

    <!-- Main section start -->
   

  

    <script src="/index.js"></script>
</body>
</html>