<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../">
    <link rel="stylesheet" href="../css/responsive.css">
    <title>Utherian technologies</title>
    <link rel="shortcut icon" href="../images/Utherian Logo in white.png" type="image/x-icon">
</head>
<body>

    <!-- Header section start -->
    <header>
        <!-- header section top status start  -->
        <ul class="header-setion-top-status" id="header-setion-top-status">
            <li><a href="../view/sign_up.html" title="sign-up"><img src="../images/download-26.png" alt="" class="social-contact" height="20px" width="20px"></a></li>
            <li><a href="../view/login.html" title="Log in"><img src="../images/download-21.png" alt="" class="social-contact" height="20px" width="20px"></a></li>
        </ul>
        <!-- header section top status end  -->

            <!-- header section top header start  -->
            <ul class="header-section-top-header">
               
                <li>
                    <nav>
                        <h4 class="company-name">Utherian technologies</h4>
                    </nav>
                </li>
              
            </ul>
             <!-- header section top header end  -->

            <!-- header section first page start -->
                <div class="header-section-first-page" id="header-section-first-page"> 
                    <section class="first-page-container">
                        <div class="slogan">
                            <h3 id="tag1" class="tag1">Utherian online portal</h3>
                            <p id="tag2" class="tag2">Where solutions to problems have endless possiblities</p>
                            <p id="tag3" class="afr tag3">
                                <li><a href="../view/sign_up.html" title="sign-up"><img src="../images/download-26.png" alt="" class="social-contact" height="20px" width="20px"></a></li>
            <li><a href="../view/login.html" title="Log in"><img src="../images/download-21.png" alt="" class="social-contact" height="20px" width="20px"></a></li>
                            </p> 
                        </div>
                    </section>
                        <section class="first-page-container-logo">
                            <img src="../images/Utherian technologies white 2.png" alt="" class="logo" id="logo">
                        </section>
                </div>
                <!-- header section first page end -->
    </header>
    <!-- Header section ends -->

    <!-- Main section start -->
    <main>
        
   





 
    </main>
    
    <!-- Main section end -->

  
<script src="/index.js"></script>
    
</body>
</html>