<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <title>Utherian technologies</title>
    <link rel="shortcut icon" href="/images/Utherian Logo in white.png" type="image/x-icon">
</head>
<body>

    <!-- Header section start -->
    <header class="login-page">
        <!-- header section top status start  -->
        <ul class="header-setion-top-status">
            <li><a href="../view/sign_up.html" title="sign-up"><img src="../images/download-26.png" alt="" class="social-contact" height="20px" width="20px"></a></li>
            <li><a href="../view/login.html" title="Log in"><img src="../images/download-21.png" alt="" class="social-contact" height="20px" width="20px"></a></li>
        </ul>
        <!-- header section top status end  -->

            <!-- header section top header start  -->
            <ul class="header-section-top-header">
                <li>
                    <nav>
                        <h4 class="company-name">Utherian technologies</h4>
                    </nav>
                </li>
            </ul>
             <!-- header section top header end  -->

            <!-- header section first page start -->
                <div class="header-section-first-page"> 
                   
                    <section class="first-page-container">
                        <div class="form-container">
                            
                        <form action="/submit" method="post" id="form">
                            <section>
                                <img src="/images/Utherian technologies white 2.png" alt="" class="logo">
                                <h4 class="sign-up-slogan">Sign up</h4>
                                <h5 class="sign-up-slogan">Sign up to create an account.</h5>
                             
                            </section>
                            
                            <input type="text" name="first_name" id="first_name" placeholder="First name" class="sign-up" required>
                            <input type="text" name="last_name" id="last_name" placeholder="Last name" class="sign-up" required> 
                            <input type="text" name="user_name" id="user_name" placeholder="Create user name" class="sign-up" required> 
                            <input type="email" name="email" id="email" placeholder="Email" class="sign-up" required>
                            <input type="password" name="password" id="password" placeholder="Password" class="sign-up" required>
                            <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm_Password" class="sign-up" required>
                            <div class="next">
                               <h5>I accept the terms of use and the privacy policy</h5> 
                               <input type="checkbox" name="terms_of_use" id="" placeholder="bbbbb" required> 
                            </div>
                            
                            <button type="submit" class="submit-btn">sign-up</button>
                            <button type="submit" class="submit-btn-google"> <img class="google-icon" src="/images/icons8-google-144.png" alt=""> <p>Continue in with google</p></button>
                            <div>
                                <h5 class="login-detail">Already have an account <span><a href="./login.html">Sign in</a></span></h5>
                                
                            </div>  
                            <p id="sign-up-message" class="sign-up-message  sign-up-visible-message">message</p>

                            <h6>Powered by Utherian all copy rights &copy; reserved <span id="date"></span>.</h6>

                        </form> 
                         
                    
                        </div>
                       
                    </section>
                        
                </div>
                <!-- header section first page end -->
    </header>
    <!-- Header section ends -->

    <!-- Main section start -->
   

  

    <script src="/js/signup.js" defer></script>
</body>
</html>